body {
    background-image: url(assets/photo_2023-10-25_19-12-31.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-position: center;
}
.t {
    color: rgba(255, 174, 0, 0.777);
}
.tinker {
    margin-left: 60px;
    padding: 20px;
    color: aliceblue;
}
.but {
    display: flex;
    float: right;
    margin: 50px;
}
.t1 {
    color: rgba(255, 170, 0, 0.808);
}
.t2 {
    color: rgb(0, 17, 255);
}
.t3 {
    color: rgb(151, 122, 196);
}
.tt1 {
    text-align: center;
    margin-top: 170px;
}
.tt2 {
    text-align: center;
    color: rgb(235, 197, 117);
}
.lets {
    border-radius: 0px;
    text-align: center;
    margin-top: 20px;
}